td,th {
  border: 1px solid black;
  text-align: center;
}

th{
  border-radius: 5px;
  background-color: #B7C2CF;
}

table{
  border-spacing: 5px;
}

td span{
  display: block;
}

.ponente{
  font-style: italic;
}

.tip-even{
    font-size: .8em;
    font-size: italic;
}

table caption{
  font-weight: border;
  font-size: 2em;
}

h2{
  font-size: 1em;
  margin: 0;
}

.magistral{
  background-color: #BEBEBE;
}

.conf{
  background-color: #E8E5FF;
}

.general{
  background-color: #9C99D2;
}

.taller{
  background-color: #9A99FF;
}

.tutorial{
  background-color: #9BCCFE;
}

.evaluacion{
  background-color: #D0CDFF;
}
